.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 90%;
  font-size: larger;
  font-family: "Rubik", "sans-serif";
  &__labels {
    font-weight: bold;
  }
  &__select {
    width: fit-content;
    border-radius: 5px;
    &__work {
      background-color: lightblue;
    }
    &__home {
      background-color: lightgreen;
    }
    &__personal {
      background-color: lightcoral;
    }
    &__other {
      background-color: lightgoldenrodyellow;
    }
  }
  &__button {
    background-color: black;
    color: rgb(37, 179, 37);
    border-radius: 5px;
  }
  &__fields {
    background-color: rgb(197, 193, 193);
    border-radius: 5px;
  }
}
